language: php
sudo: false

jobs:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4snapshot
  allow_failures:
    - php: 7.4snapshot
  fast_finish: true

script:
  - php ./tests/run.php
